version: '3'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app:create_app
      - FLASK_RUN_HOST=0.0.0.0
      - DATABASE_URL=postgresql://postgres:admin@db:5432/telemetria
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"  # Maps port 80 in the container (Nginx) to port 3000 on the host

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: telemetria
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
